<a href="https://colab.research.google.com/github/Asfandyar-Khan/6940_AsfandyarKhan/blob/master/LaunchCode_Class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python Programming Lesson 2**

## Finishing Week 1 Concepts

# Review

In [ ]:
print("my name is Bob and I am 10 years old")
print(5+5)
print(13/2)
print(13//2)

my name is Bob and I am 10 years old
10
6.5
6

**1.3. Arithmetic functions**

In [ ]:
#Modulus operation
5%2

#Exponentiation
5**2

#Using the round function
round(42.1)
round(42.5)

#Absolute value function - abs()

abs(42)

42

**1.5. Values and types**

In [ ]:
#Examples of type function
#Numbers
type(42.5)
type(42.0)
type(42)

#Words
type("Hello world!")

#Examples converting variables using the float and int functions
float(42)
int(42.7)

#Examples converting string numbers to integer values

int('12')
int('12')/3

float('12')
float('12')/3

#Examples converting numbers to string

str(4)
str(4.0)

5+5

10

## Week 2 Concepts - Variables and Statements

**2.1. Variables**

In [ ]:
#Basic variable assignment
#Variabels must not begin with a number or a capital letter!

#In the example below, the variable is n and the value is 17

n = 17

print(n)

17

**2.2. State diagrams**

**2.3. Variable names**

In [ ]:
a = 5
b = 10
c = a+b

print(c)

c

**2.5. Expressions and statements**

**2.6. The Print function**

**2.7. Arguments**

**Input Exercise**

In [ ]:
name = input('Enter your name =')
age = input('Enter your age = ')
print('Your name is ', name , ',and your age is = ',age)

Enter your name =Bob
Enter your age = 20
Your name is  Bob ,and your age is =  20

# New Section

# Functions