#Week 5 Homework Review Questions

In [ ]:
"""
Question 2:
Create a function called shout_twice(message) that prints the message two times in a row (no space in between).
Example:
shout_twice("Hey!") should print Hey!Hey!
Hint:
Use print(message * 2)

"""
def shout_twice(message):
  print(message * 2)

shout_twice("Hey!")


"""
Question 3:
Create a function called repeat_word(word, multiple) that prints the word multiple times based on the number provided.
Example:
repeat_word("Python", 3) should print PythonPythonPython
Hint:
Use the * operator to repeat strings.
"""

def repeat_word(word, multiple):
  print(word * multiple)

repeat_word("Python",3)


"""
5. Global vs Local Variables
Question:
Look at the following code:

def multiply(a, b):
    result = a * b
    print(result)

multiply(2, 5)
print(result)
What error will this code produce, and why?
Hint:
Where is result created?
"""

def multiply(a, b):
    result = a * b
    print(result)

multiply(2, 5)

print(result)

"""
6. Using range()
Question:
What numbers will this code print?

for i in range(3):
    print(i)
Hint:
Start counting from 0.
"""

for i in range(3):
    print(i)


# For each item in range(3):
    #print(each item)

#Knowledge Check - Functions
#Create a function called repeat_word(word,times) that prints the word multiple times based on the number provided.

def repeat_word(word,times):
  final_result = word * times
  print(final_result)

repeat_word("Google Colab ", 5)

#Functions - Return Values

In [ ]:
#Example 1 - Without a variable

def add_numbers(a, b):
    return a + b

result = add_numbers(3, 5)
print(result)  # Output: 8

#Example 2 - With a variable

def add_numbers(a, b):
    result = a + b
    return result

total = add_numbers(3, 5)
print(total)

8
8 -2

#Repetition - The For Loop

In [ ]:
#Recall that For Loops only work with with strings, lists, tuples, or range()
#Example 1 - With Strings

for i in "hello":
  print(i)

#How do we read this? We read this by saying, for each ITEM in the string "HELLO", print the ITEM


#Example 2 - With Integer (WILL NOT WORK)
for i in 30:
  print(i)


#Example 3 - With Lists (WE WILL COME BACK TO THIS LATER)

#For Loop - Using the range() Function

In [ ]:
#Example 1 - Range

#How do we say this? For each item in range 2 (which includes only 0 and 1), print the item.

for i in range(2):
    print(i)

#Remember, range(2) = 0,1
#This means that range(2) creates a group of numbers that go 0 to 2 -> BUT NOT INCLUDING 2! This means range(2) is equal to a range of numbers that include 0 and 1.


#Example 2 - range(start,stop,step)

#Notice how the number 10 will not be printed!


for i in range(0, 10):
    print(i)



#Example 3 - range(start,stop,step)

for i in range(0, 10, 1):
    print(i)

range(0, 3)

#Lists